{ "extends": "angular",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {

  },
  "plugins": [
   "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "app"]
    }
  },
  "globals": {
    "__DEBUG__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__ANIMATION__": true,
    "__ANALYZE_PERFORMANCE__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "sinon": true,
    "expect": true
  }
}
