<div class="news-container">
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
    <img src="https://lh5.googleusercontent.com/9UlBlsdnw2Zz59JCwqVhiEbocdwj6evR79A7ItzasuU7dIAoTzPYJ9a6h8yjlg-eYmnRY0egmOC663IORE0fr7f3gYy0mpG1ls4N9HnXSlHtWPjUYtDuv_r6BhoMt_nTdNz63H9Q"/>
</div>